@using snfcofcBlzrwb.Models
@using Syncfusion.Blazor.Buttons
@inject NavigationManager NavigationManager
@inject IPlayerService PlayerService
@inject IJSRuntime JSRuntime
@inject Syncfusion.Blazor.Popups.SfDialogService DialogService
@inject IAuthService AuthService


<div class="col-md-6 mb-4 fade-card @(isDeleted ? "fade-out" : "")">
    <SfCard CssClass="@($"{GetCardColor(Player.Ranking)} player-card")">
        <CardHeader>
            <CardTitle class="player-title text-center">@Player.Nombre</CardTitle>
        </CardHeader>

        <CardContent>
            <div class="lineup-container">
                <div class="lineup-left">
                    @if (!string.IsNullOrEmpty(Player.FotoPlayer?.Url))
                    {
                        <img src="@Player.FotoPlayer.Url" class="player-photo img-fluid rounded shadow-sm" />
                    }
                </div>

                <!-- Datos del jugador -->
                <div class="lineup-right ">
                    <div>
                        <p><strong>Partidos Jugados: </strong>@Player.PartidosJugados</p>
                        <p><strong>Posición:</strong> @Player.Posicion</p>
                        <p><strong>Dorsal:</strong> @Player.Dorsal</p>
                        <p><strong>Categoría:</strong> @(Player.ClavePlus ? Player.ClaveSub ? "Ambas Categorías" : "Plus" : Player.ClaveSub ? "Sub 19" : "Sin Categoría")</p>
                        <p><strong>Ranking:</strong></p>
                        <SfRating Value="@Player.Ranking" Precision="PrecisionType.Exact" ReadOnly="true" ShowTooltip="false" CssClass="custom-rating" />
                        @if (Player.Ranking >= 4.5)
                        {
                            <p class="badge bg-success text-white">⭐ Top Performer</p>
                        }
                        else if (Player.Ranking >1.5 && Player.Ranking < 4)
                        {
                            <p class="badge bg-warning text-white">Jugador Regular</p>
                        }
                        else if (Player.Ranking <= 1)
                        {
                            <p class="badge bg-danger text-white">⚠️ Jugador de Bajo rendimiento</p>
                        }
                        
                    </div>
                    @if (!AuthService.GetUserRoles().Contains("ReadUser"))
                    {
                        <div class="lineup-center">

                            <SfButton class="btn btn-primary button-spacing" @onclick="EditarPlayer">Editar Player</SfButton>
                            <SfButton class="btn btn-primary button-spacing" @onclick="EvaluarMatchs">📊 Evaluar Partidos</SfButton>
                            @if (AuthService.GetUserRoles().Contains("B4aAdminUser"))
                            {
                                <SfButton class="btn btn-danger button-spacing" @onclick="EliminarPlayer" disabled="@isDeleting">
                                    @if (isDeleting)
                                    {
                                        <span class="spinner-border spinner-border-sm me-2" role="status">Eliminando...</span>

                                    }
                                    else
                                    {
                                        <span class="spinner-border spinner-border-sm me-2" role="status">Eliminar Player</span>
                                    }

                                </SfButton>

                            }
                        </div>
                    }

                    
                </div>
                
            </div>
        </CardContent>
    </SfCard>
</div>



<style>
    .button-spacing {
        margin-bottom: 5px;
    }
    .lineup-container {
        display: flex;
        flex-direction: row; /* ← Cambia a horizontal */
        justify-content: space-between; /* Distribuye los elementos */
        align-items: flex-start;
        max-width: 800px;
        margin: 0 auto;
        padding: 10px;
        gap: 20px; /* Espacio entre columnas */
    }

    .lineup-left, .lineup-right {
        width: 50%;
        vertical-align: central;
    }

    .lineup-center {
        flex-grow: 1;
        max-width: 400px;
        position: relative;
    }
    .e-custom-card .e-avatar {
        font-size: 40px;
        position: absolute;
        top: calc(0% - 1.5em);
        left: calc(50% - 1.5em);
        box-shadow: 0 16px 28px -8px rgba(0, 0, 0, .36), 0 4px 15px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    }

    .tailwind .e-custom-card .e-avatar,
    .bootstrap5 .e-custom-card .e-avatar,
    .bootstrap5-dark .e-custom-card .e-avatar,
    .bootstrap5\.3 .e-custom-card .e-avatar,
    .bootstrap5\.3-dark .e-custom-card .e-avatar,
    .fluent .e-custom-card .e-avatar,
    .fluent-dark .e-custom-card .e-avatar,
    .material3 .e-custom-card .e-avatar,
    .material3-dark .e-custom-card .e-avatar,
    .fluent2 .e-custom-card .e-avatar,
    .fluent2-dark .e-custom-card .e-avatar,
    .fluent2-highcontrast .e-custom-card .e-avatar {
        height: 3em;
        width: 3em;
    }

    .avatar-content {
        text-align: center;
        color: rgb(94, 94, 94);}

    .player-card {
    border-radius: 12px;
    padding: 15px;
    background-color: #fdfdfd;
    transition: box-shadow 0.3s ease;
    }

    .player-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #343a40;
    margin-bottom: 10px;
    }

    .player-photo {
width:90%;
object-fit: cover;
    border: 3px solid #dee2e6;
    max-height : 200px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

    .card-green {
    border-left: 15px solid #28a745;
    box-shadow: 0 2px 6px rgba(40, 167, 69, 0.3);
    }

    .card-yellow {
    border-left: 15px solid #ffc107;
    box-shadow: 0 2px 6px rgba(255, 193, 7, 0.3);
    }

    .card-red {
    border-left: 15px solid #dc3545;
    box-shadow: 0 2px 6px rgba(220, 53, 69, 0.3);
    }

    .custom-rating .e-rating-item-container .e-rating-icon {
    color: #ffc107;
    }

    .fade-card {
        transition: opacity 0.6s ease, transform 0.6s ease;
    }

    .fade-out {
        opacity: 0;
        transform: scale(0.95);
        pointer-events: none;
    }
</style>

@code {
    [Parameter] public Player Player { get; set; }
    [Parameter] public EventCallback<string> OnPlayerDeleted { get; set; }

    private bool isDeleting = false;
    private bool isDeleted = false;


    private string GetCardColor(float ranking)
    {
        if (ranking >= 4) return "card-green";
        if (ranking >= 1.5) return "card-yellow";
        return "card-red";
    }

    void EditarPlayer()
    {
        if (!string.IsNullOrEmpty(Player?.ObjectId))
        {
            NavigationManager.NavigateTo($"/playercrud/{Player.ObjectId}");
        }
    }

    void EvaluarMatchs()
    {
        if(!string.IsNullOrEmpty(Player?.ObjectId))
        {
            NavigationManager.NavigateTo($"evaluate/{Player.ObjectId}");
        }
    }
    

    async Task EliminarPlayer()
    {
        if (string.IsNullOrEmpty(Player?.ObjectId)) return;

        var confirm = await Confirmar($"¿Eliminar a {Player.Nombre}?");
        if (confirm)
        {
            isDeleting = true;
            await PlayerService.DeleteAsync(Player.ObjectId);
            isDeleted = true;
            await OnPlayerDeleted.InvokeAsync(Player.ObjectId);
            
        }
    }
    private async Task<bool> Confirmar(string mensaje)
    {
        return await JSRuntime.InvokeAsync<bool>("confirm", new object[] { mensaje });
    }
}
