@using snfcofcBlzrwb.Shared.Layout
@using snfcofcBlzrwb.Shared.Pages

<Router AppAssembly="@typeof(LoginLayout).Assembly">
    <Found Context="routeData">
        <LayoutView Layout="@typeof(LoginLayout)">
                    <Login />
        </LayoutView>

    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(LoginLayout)">
            <p>❌ Página no encontrada.</p>
            <RedirectToLogin></RedirectToLogin>
        </LayoutView>
    </NotFound>
</Router>


@* <Router AppAssembly="@typeof(MainLayout).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>❌ Página no encontrada.</p>
        </LayoutView>
    </NotFound>
</Router>
 *@